html, body {
  margin: 0;
  padding: 0;
  // background-color: #a286ff;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 50px;
}

h2 {
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
}
